@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap");
body,
html {
  margin: 0 !important;
  padding: 0 !important;
}
body {
  margin: 0;
  font-family: "Martel Sans", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
